.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* grid-template-rows: 100px 100px 100px; */

    grid-template-areas: 
    "a a a c c "
    "a a a d d"
    "b b b b b"
    "e f g h i";

}
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item{
    
    font-size: 2rem;
    text-align: center;
    border: 5px solid ;
    display: flex;
    justify-content: center;
    align-items: center;  
    
}
.item1{
    background-color: aliceblue;
    grid-area: a;
}
.item2{
    background-color: antiquewhite;
    grid-area: b;
}   
.item3{
    background-color: aqua;
    grid-area: c;
}
.item4{
    background-color: aquamarine;
    grid-area: d;
}
.item5{
    background-color: blue;
    grid-area: e;
}
.item6{
    background-color: blueviolet;
    grid-area: f;
}
.item7{
    background-color: brown;
    grid-area: g;
}
.item8{
    background-color: burlywood;
    grid-area: h;
    
}
.item9{
   background-color: darkcyan; 
   grid-area: i;
}
/* .diamond {
  width: 30px;
  height: 30px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.diamond span {
  transform: rotate(-45deg);
  font-size: 1.3rem;
  color: black;
  font-weight: bold;
} */
