.container{
    width: 300px;
    height: 300px;
    background-color: blue;
    /* box-shadow: 10px 10px 5px 5px red; */
    /* box-shadow: inset -10px -10px 5px 5px red; */
    box-shadow: -10px -10px 5px 5px red,10px 10px 5px yellow;
}
.text{
    color: blueviolet;
    /* text-shadow: 10px 10px 5px black; */
    /* text-shadow: 10px 10px 5px black,10px 10px 5px blue; */
    /* text-shadow: 10px 10px  black,10px 10px  blue; */
    text-shadow: 0px 0px 10px black;
}