/* .img-container1{
  width: 500px;
  height: 500px;
  border: 2px double;
  color: aquamarine;
  background-color: blue;

}
.img-container2{
  width: 450px;
  height: 450px;
  border: 2px solid;
  color: brown;
  background-color: blueviolet;

}
.img-container3{
  width: 300px;
  height: 300px;
  border: 2px solid;
  color:black;
  background-color: red;
  /* margin-left: 30px;   
  margin-top: 30px;  */
  
/* } */
/* *{
  margin: 0;
  padding: 0;
}
.nav-container{
  width: 100%;
  height: 30px;
  background-color: blue;
  color: aliceblue;
  padding: 10px;
  font-size: larger;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
}

.span-container{
  background-color: black;
  color: aliceblue;
  display: inline-block;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size:larger;
  position: fixed;
  
}
.nav-container1{
  width: 60px;
  height: 100%;
  background-color:lightblue;
  color: aliceblue;
  padding: 10px;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
} */

/* *{
  margin: 0;
  padding: 0;
}
.main-container{
  border: 2px solid;
  width: 90%;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
}
.img-container{
  display: flex;
  border: 2px solid;
  padding: 30px;
  width: 90%;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  gap: 30px;
  border-radius: 50px;
}
.img1{
  width: 100%;
  
}
img{
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  
}
.img-container p{
  position: absolute;
  top: 140px;
  margin-left: 90px;
  background-color: black;
  color: aliceblue;
  padding: 5px;
  border-radius: 9px;
}
 */

 /* .main-containe{

  border: 2px solid;
 
 
 
}
.img-cointainer,.img-cointainer1,.img-cointainer2 {
  display: flex;
  border: 2px solid;
  width: 50%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  
  
}
.img{
  
  width: 300px;

  padding: 10px;
  align-items: center;
  position: relative;
  flex-grow: 1;
  
}

.img img{

  width: 300px;
  height: 300px;
  display: flex;

  padding: 10px;
 
  
}

.img p{
 position: absolute;
 top: 150px;
 margin-left: 70px;
 background-color:black;
 color: aliceblue;
 padding: 9px;
 border-radius: 10px;
} */
/* *{
  margin: 0;
  padding: 0;
}
.main-container{
  width: 100%;
  border: 2px solid;
  

  
}
.img-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  
  

}
.img{
  position: relative;
  width: 300px;
  height: 200px;
  flex-grow: 1;
}
.img img{
 
  width: 100%;
  height: 100%;
  display: block;
 
  
  
}
.img p{
  position: absolute;
  top: 0;
  background-color:black ;
  color: aliceblue;

} */

/* .main-container{
  width: 500px;
  height: 530px;
  border: 2px solid;
  
}
.child-container1,.child-container2,.child-container3,.child-container4,.child-container5,.child-container6,.child-container7,.child-container8,.child-container9{
  
  width: 50px;
  height: 55px;
  border: 2px solid;
} */

/* .img-container{
  width: 300px;
  height: 200px;
} */
/* .container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 100px 100px;
}
.item{
 padding: 10px;
 font-size: 2rem;
}
.item1{
  background-color: antiquewhite;
  grid-column-start: 1;
  grid-column-end: 3;
}
.item2{
  background-color: aqua;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
.item3{
  background-color: aquamarine;
}
.item4{
  background-color: azure;
}
.item5{
  background-color: blue;
}
.item6{
  background-color: red;
} */

/* body,html{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.container{
  width: 200px;
  height: 200px;
  background-color: blue;
  transition: all 0.9s ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  
}
.container>div{
   position: absolute;
   background-color: blueviolet;
   width: 100%;
   text-align: center;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translate(-200px);
   transition: all 0.9s ease;
}
div{
  width: 200px;
  height: 200px;
}
div>img{
  width: 100%;
  height: 100%;
}
.container:hover>div{
  transform: translate(0px);
}
.container>img{
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;
  

}
.container:hover>img{
  transform: translatey(-200px); 
}
.container2{
  width: 350px;
  height: 200px;
  background-color: brown;
  border: 5px solid;
  margin-left: 200px;
  overflow: hidden;

}
.container2>img{
  width: 100%;
  height: 100%;
  transition: all 0.8s ease;
  
}
.container2>img:hover{
  transform:scale(1.3);
 
}
body{
  animation-name: anime;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;

}
.animate{
  width: 300px;
  height: 300px;
  background-color: burlywood;
  margin-left: 200px;
  animation-name: container;
  animation-timing-function: 3s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes anime {
  from{
    background-color: cadetblue;
  }to{
    background-color: darkgreen;
  }
  
}
@keyframes container {
  from{
    border-radius: 50%;
    transform: translatey(-100px);
  
  }to{
    border-radius: 20%;
  }
} */


/* named colors */
/* .text-container{
  color: blue;
  background-color: lightgray;
} */



/* HEX color */
/* .text-container{
  color: #ff0000;
  background-color: #030500;
} */



/* RGB color */
/* .text-container{
  color: rgb(0,0,255);
  background-color: rgb(0,10,0);
} */

/* RGBA color */
/* .text-container{
  color: rgba(0,0,255,0.6);
  background-color: rgba(255,0,0,0.6);
} */


/* HSL color */

.text-container{
  color:hsl(240,100%,50%);
  background-color: hsl(120,100%,60%);
}

/* HSLA color */
/* .text-container{
  color: hsla(0,50%,50%,0.9);
  background-color: hsla(120,60%,40%,0.8);
  border: hsla(240, 100%, 50%, 0.9) solid;
  background: linear-gradient(to bottom, red, purple);
} */